<div class="user-profile-container @Class">
    <div class="user-profile-avatar">
        <RadzenGravatar Path="images/dotnet_bot.svg" />
        <div class="user-profile-status" />
    </div>
    <div>
        Phong Thai
    </div>
    <div>
        Icons
    </div>
</div>
